/* Navbar Styling */
@media only screen and (min-width: 767px) {
    .menu-right {
        position: absolute;
        right: 10%;
    }
    .lp-row-1 {
        height: 68vh;
    }
    .lp-row-2 {
        height: 25vh;
    }
}
@media only screen and (max-width: 766px) {
    .lp-row-1 {
        height: 93vh;
    }
    .lp-row-2 {
        height: 20vh;
    }
}
.navbar {
    min-height: 7vh;
}


/* LANDING PAGE */
/* First Page */
.main-text {
    font-family: 'Abril Fatface', cursive;
    font-size: 50pt;
    color: white;
}
.secondary-text {
    font-family: 'Abril Fatface', cursive;
    font-size: 25pt;
    color: white;
}
.lp-row-1 {
    background-position: center;
    background-position-x: 80%;
    background-position-y: 60%;
    background-size: cover;
}
.lp-row-2 {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}
.lp-row-2 .center-all {
    padding-left: 1px;
    padding-right: 1px;
    display: table;
    height: 100%;
    background-clip: content-box;
}
.lp-row-2 .center-all h4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.blur {
    -webkit-backdrop-filter: blur(2px);
}
.blur:hover {
    -webkit-backdrop-filter: blur(0px);
}
#cell-1 {
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}
#cell-2 {
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}
#cell-3 {
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}
#cell-4 {
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

/* DELAYS */
.short-wait {
    animation-delay: 1s;
}
.med-wait {
    animation-delay: 2s;
}
.long-wait {
    animation-delay: 3s;
}