body {
    font-family: 'IBM Plex Sans', sans-serif;
}
.contact-row {
    margin-top: 10px;
}
.header-row {
    margin-top: 25px;
    margin-bottom: 20px;
}
.lp-row-1 {
    height: 500px;
    background-size: cover;
    background-position-y: 40%;
    background-position-x: center;
}
.lp-row-2 {
    margin-top: 20px;
}